<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

#    # Disable directory listing
#    Options -Indexes
#
#    # Set server signature
#    ServerSignature Off
#    ServerTokens Prod
#
#    # Protect against Clickjacking
#    Header always append X-Frame-Options SAMEORIGIN
#
#    # Protect against MIME Sniffing
#    Header always set X-Content-Type-Options nosniff
#
#    # Enable Content Security Policy (CSP) with dynamic nonce
#
#
#    # SSL/TLS Configuration (Adjust as per your setup)
#    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

</IfModule>
